.mainCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 고정 */
  gap: 16px;
}

.mainCard .card {
  border: 1px solid #ddd;
  padding: 12px;
  background-color: #fff;
  border : 1px solid;
}

.mainCard .mainName {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #c00;
}

.mainCard .card a {
    color : black;
    text-decoration : none;
}

.mainCard .mainName a {
    color : red;
}

