.newBoard .board {
  max-width: 700px;
  margin: 0 auto;
}
.newBoard h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height :7vh;
  border : 1px solid #f9f9f9;
  margin-bottom : 10px;
}

.newBoard .write-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  background: #fafafa;
  cursor: pointer;
}

.newBoard .write-placeholder {
  color: #888;
}

.newBoard .write-form input,
.newBoard .write-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* textarea 높이 늘리기 */
.newBoard .write-form textarea {
  min-height: 150px; /* 원하는 만큼 조절 가능 */
  resize: vertical;  /* 사용자가 세로 길이 조절 가능 */
}

/* 글 올리기 버튼 */
.newBoard .write-form .submit-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin-left: auto; /* 오른쪽 정렬 */
}

.newBoard .write-form .submit-btn:hover {
  background: darkred;
}

.newBoard .post-list {
  list-style: none;
  padding: 0;
}

.newBoard .post-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.newBoard .time {
  font-size: 12px;
  color: #999;
}
